.contacts__wrapper {
    padding: 4rem 0 0;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}


.contacts {
    background: $white;
    box-shadow: 5px 5px 25px rgba($black, 0.04);
    border-radius: 0 30px 0 0;
    padding: 110px 130px 20px 130px;
    position: relative;

    @media (max-width: $tablet) {
        padding: 4rem 3rem 0.5rem;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);

        @media (max-width: $tablet) {
            width: 80px;
        }
    }

    &__desc {
        text-align: center;
    }

    &__title {
        margin: 0;
    }
}